HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

SAMPLE_DATA.md
SEATS_INFO.md
SOCIAL_LOGIN.md
GOOGLE_OAUTH_IMPLEMENTATION_REVIEW.md
OAUTH2_ERROR_HANDLING_TEST_GUIDE.md
ENCRYPTION_AND_MASKING_GUIDE.md


app

### Application Properties ###
src/main/resources/application.properties

.env

